SwipeCards.css
.card {
    height: 500px;
    width: 350px;
    border-radius: 15px;
    background-color: white;
    object-fit: cover;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    cursor: grab;
    transition: all 0.25s ease;
}

.card:hover {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
}

.front-card {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3),
        0 5px 15px rgba(0, 0, 0, 0.2);
}

.card:active {
    cursor: grabbing;
}